@model IEnumerable<Entities.Concrete.Guide>

@{
    ViewData["Title"] = "Rehber Listesi | Tour Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rehber Listesi</h1>

<p>
    <a role="button" class="btn btn-primary" asp-action="Create">Yeni Rehber Tanımla</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Adı
            </th>
            <th>
                Soyadı
            </th>             
            <th>
                Telefon Numarası
            </th>
            <th>
               Aktiflik Durumu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                <a role="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.GuideId">Güncelle</a> 
                <a role="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.GuideId">Detay</a> 
                <a role="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.GuideId">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
