@model IEnumerable<Entities.Concrete.Tourist>

@{
    ViewData["Title"] = "Turist Listesi | Tour Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Turist Listesi</h1>

<p>
    <button type="button" class="btn btn-primary" onclick="openModal('/Tourist/Create','Yeni Turist Tanımı')">Yeni Turist Tanımı</button>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ad Soyad
            </th>            
            <th>
                Ülke
            </th> 
            <th>
                İşlemler
            </th> 
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)   @Html.DisplayFor(modelItem => item.Surname)
                </td> 
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    <a role="button" class="btn btn-success"  asp-action="Index" asp-controller="TourSelling" asp-route-id="@item.TouristId">Tur Satışı Yap</a>
                    <button type="button" class="btn btn-warning" onclick="openModal('/Tourist/Edit/@item.TouristId','Turist Güncelle')">Düzenle</button>
                    <button type="button" class="btn btn-info" onclick="openModal('/Tourist/Detail/@item.TouristId','Turist Detayı')">Detay</button>
                    <button type="button" class="btn btn-danger" onclick="openModal('/Tourist/Delete/@item.TouristId','Kaydı silmek istediğinizden emin misiniz?')">Sil</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.PartialAsync("_CommonModalPartial")

@section Scripts{
    <script src="~/js/pages/commonModul.js" asp-append-version="true"></script>
    <script src="~/js/pages/touristModul.js" asp-append-version="true"></script>
}