@model IEnumerable<Entities.Concrete.Tourist>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Ad
            </th>
            <th>
                Soyad
            </th>
            <th>
                Ülke
            </th>
            <th>
                Uyruk
            </th>
            <th>
                Aktif
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nationality.Name)
                </td>

                <td>
                    <a asp-action="Index" asp-controller="TourSelling" asp-route-id="@item.TouristId">Tur Satışı Yap</a> |
                    <a asp-action="Edit" asp-route-id="@item.TouristId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.TouristId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TouristId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
