@model Entities.Concrete.Invoice

@{
    ViewData["Title"] = "Fatura Detay | Tour Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

<div>
    <h4>Fatura Detay</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Fatura No
        </dt>
        <dd class="col-sm-10">
            @Model.InvoiceNo
        </dd>
        <dt class="col-sm-2">
           Fatura Tarihi
        </dt>
        <dd class="col-sm-10">
            @Model.InvoiceDate
        </dd>
        <dt class="col-sm-2">
            Turist Ad/Soyad
        </dt>
        <dd class="col-sm-10">
            @Model.Tourist.Name  @Model.Tourist.Surname
        </dd>
        <dt class="col-sm-2">
            Toplam Ücret
        </dt>
        <dd class="col-sm-10">
            @Model.InvoiceDetails.Sum(x=>(decimal)(1-x.Discount)*(x.Price)).ToString("#.##") (₺) 
        </dd>
    </dl>

    <table class="table">
        <thead>
            <tr>
               <th>
                    Tur Adı
                </th>
                <th>
                    İndirim
                </th>
                <th>
                    Ücret
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InvoiceDetails)
            {
                <tr>
                    <td>
                        <button role="button" class="btn btn-outline-info"  onclick="openModal('/Tours/Detail/@item.Tour.TourId',' Tur Detayı')" >@item.Tour.Name  </button>
                    </td>

                    <td>
                        % @(item.Discount*100)
                    </td>
                    <td>
                        @item.Price (₺)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
@await Html.PartialAsync("_CommonModalPartial")

@section Scripts{
    <script src="~/js/pages/commonModul.js" asp-append-version="true"></script> 
}