@model IEnumerable<Entities.Concrete.Invoice>

@{
    ViewData["Title"] = "Fatura Listesi | Tour Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Fatura Listesi</h1>

 
<table class="table">
    <thead>
        <tr>
            <th>
                Fatura No
            </th>            <th>
                Fatura Kesilen Turist
            </th> 
            <th>
                Fatura Kesim Tarihi
            </th> 
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.InvoiceNo
                </td>                                <td>
                    @item.Tourist.Name @item.Tourist.Surname 
                </td> 
                <td>
                    @item.InvoiceDate
                </td>  
                
                <td>                 
                    <a role="button" class="btn btn-info"  asp-action="Detail" asp-route-id="@item.InvoiceNo">Fatura Detay</a>                   
                </td>
            </tr>
        }
    </tbody>
</table>
