@model IEnumerable<Entities.Concrete.Tour>

@{
    ViewData["Title"] = "Tur Listesi | Tour Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tur Listesi</h1>

<p>
    <a role="button" class="btn btn-primary" asp-action="Create">Yeni Tur Tanım</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Tur Adı
            </th>
            <th>
                Tur Tarihi
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TourDate)
            </td>
                        <td>
                <a role="button" class="btn btn-warning"  asp-action="Edit" asp-route-id="@item.TourId">Düzenle</a> 
                <a role="button" class="btn btn-info" asp-action="Details" asp-route-id="@item.TourId">Detay</a> 
                <a role="button" class="btn btn-danger"  asp-action="Delete" asp-route-id="@item.TourId">Sil</a>
            </td>
            
        </tr>
}
    </tbody>
</table>
